[user]
	email = cc@l2x.top
	name = cc
[core]
	excludesfile = ~/.local/secret/.gitignore
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git.l2x.top"]
	provider = generic
